.borderstyle .g-card {
  background: #fff !important;
  border-radius: 0px !important;
  display: inline-block;
  position: relative;
  border-style: none !important;
}
.borderstyle .g-item{
  border-top-style: none !important;
  border-bottom-style: none !important;
}
.borderstyle .g-btn{
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 35px;
  padding: 0 1.5rem;
  background-color: transparent !important;
  color: var(--button_color) !important;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  border: none;
  border-radius: 0px;
}
