.defaultstyle .g-card {
  border-radius: 30px;
}
.defaultstyle .g-btn {
  display: flex;
  margin-top: 15px;
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
  color: #555555;
  padding: 10px 25px;
}
.main-header sup {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  -ms-user-select: none !important;
}
