body {
  font-family: Helvetica, Arial, sans-serif
}
h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-top: 30px;
}
p {
  margin: 30px;
}
.top-menu {
  height: 100px;
  width: 100%;
  background: #efefef;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-menu {
  height: 50px;
  background: rgb(232, 202, 126);
  display: flex;
  justify-content: center;
}
.main-menu-list {
  display: flex;
  align-items: center;
  
}
.main-menu-item {
  padding: 0 30px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
.main-menu-item:hover {
  background: rgba(209, 179, 102, 0.542);
}
.logo-top-menu {
  max-height: 90%;
  max-width: 250px;
}
.icon-top-menu {
  padding: 5px;
  color: rgb(206, 206, 206);
}
.container-icons {
  width: 60px;
  height: 40px;
  display: flex;
}
.icon-menu {
  display: none !important;
}
.icon-right {
  font-size: 20px !important;
}
@media only screen and (max-width: 800px) {
  .main-menu-list {
    width: 100%;
    flex-direction: column;
    padding-top: 100px;
  }
  .main-menu-link {
    color:  rgb(206, 206, 206);
  }
  .main-menu {
    background: rgba(16, 19, 31, 0.959);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .main-menu-item {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
    height: 60px;
    text-align: center;
  }
  .main-menu-item:hover {
    background: rgb(16, 19, 31);
  }
  .icon-menu {
    font-size: 25px !important;
    padding-left: 20px;
    margin-bottom: 10px;
    z-index: 999;
    display: block !important;
    position: absolute;
  }
  .container-icons {
    margin-right: 20px;
  }
 }

 @media only screen and (max-width: 450px) {
  .social-networks_top-menu{
    display: none;
  }
  .logo-top-menu {
    width: 60px;
  }
  .container-icons {
    margin-right: 20px;
  }
  .top-menu {
    height: 70px;
  }
 }