/*body {
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-top: 30px;
}
.top-menu {
  height: 100px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-menu {
  height: 50px;
  background: #04779B;
  display: flex;
  justify-content: center;
}
.main-menu > .top-menu {
  display: none;
}
.main-menu-list {
  display: flex;
  align-items: center;
}
.main-menu-item {
  padding: 0 30px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
.main-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.2);

}
.logo-top-menu {
  max-height: 90%;
  max-width: 250px;
}
.icon-top-menu {
  padding: 0 5px;
  color: rgb(206, 206, 206);
  font-size: 20px;
}
.container-icons {
  height: 40px;
  display: flex;
  flex: 1;
}
.social-networks_top-menu {
  padding-left: 20px;
}
.icon-menu-show {
  display: none !important;
}
.login-cart_top-menu {
  justify-content: flex-end;
}
.icon-top-menu-close {
  display: none;
}
.main-menu-link {
  color: #fefefe;
}
@media screen and (max-width: 800px) {
  .main-menu-list {
    width: 100%;
    flex-direction: column;
    padding-top: 100px;
  }
  .main-menu-link {
    color:  rgb(206, 206, 206);
    width: 100%;
  }
  .main-menu {
    background: rgba(16, 19, 31, 0.959);
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .main-menu-item {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
    height: 60px;
    text-align: center;
  }
  .main-menu-item:hover {
    background: rgb(16, 19, 31);
  }
  .icon-menu-show {
    padding-left: 20px;
    font-size: 24px;
    z-index: 9999;
    display: block !important;
  }
  .icon-top-menu-close {
    display: flex;
    z-index: 9999;
    margin-right: 20px;
    font-size: 40px;
  }
  .main-menu > .top-menu {
    display: flex;
    justify-content: flex-end;
  }
  .login-cart_top-menu {
    padding-right: 20px;
  }
  .icon-top-menu-close {
    margin-right: 20px;
  }
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .3s ease;
  }
  .slide-fade-enter, .slide-fade-leave-to{
    transform: translateX(100%);
  }
  .logo-top-menu {
    height: 50px;
  }
 }

 @media screen and (max-width: 450px) {
  .social-networks_top-menu{
    display: none;
  }
  .logo-top-menu {
    width: 70px;
    height: auto;
    padding-left: 20px;
  }
  .top-menu {
    height: 70px;
  }
  .main-menu {
    z-index: 100;
  }
 }*/
