@import './bases-styles.css';
@import './font-awesome.css';
@import 'swiper/dist/css/swiper.css';
@import './ko-header1.css';
@import './ko-slider1.css';
@import './ko-separator1.css';
@import './ko-grid1.css';
@import './ko-footer1.css';
